.ant-tag{
  

  font-weight: 500;
  font-family: Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif;
   

    line-height: 2.1;
    height: 1.7rem;
    padding: 0 10px;
    border-radius: 50px;
    font-size: 12px;

}
